---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
---

<Layout title="901farm LLC">
  <main>
    <h1 class="sr-only">901farm LLC</h1>

    <div
      class="flex flex-col items-center justify-center min-h-[90svh] gap-8 max-w-lg mx-auto text-gray-200"
    >
      <Logo />
      <h2
        class="text-center text-xl sm:text-2xl text-balance font-twkBurns tracking-wide"
      >
        We are creative creatures.
      </h2>
      <p
        class="text-animation text-center text-lg md:text-xl text-balance font-sans tracking-wide"
      >
        <a href="https://store.901farm.com" class="link-highlight">
          Our store
        </a>
      </p>
    </div>
  </main>
</Layout>

<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .text-animation {
    opacity: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    .text-animation {
      animation: fadeIn 1s ease-out 0.3s forwards;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .text-animation {
      opacity: 1;
    }
  }
</style>
